@import '../../assets/css/_variable';
.dashboard-menu-container{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12),
    0px 15px 35px rgba(60, 66, 87, 0.08);
    border-radius: 5px;
    width: 15rem;
    height: calc(100vh - 1.5rem);
    /* padding: 1em; */
position: fixed;
background-color: $whiteColor;
}
.dashboard-contents{
    margin-top: 1em;
}
.dashboard-menu-icons{
  margin-right: 0.5em;
  width: 1rem;
  height: 1rem;
}
.item{
    margin-bottom: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.active-item{
    background-color:$menuBackgroundColor;
    color: $thunderColor;

}