$whiteColor:#FFFFFF;
$FieldBorderColor:#d9dce1;
$greenColor: #00FF00;
$redColor:#FF0000;
$greyColor: #616161;
$menuBackgroundColor: #E2E7EB;
$thunderColor: #484847;
$borderColor1:#C2C2C2;
$tableHeadBackGround:#EDEDED;
$tableBodyBackGround:#F7F7F7;
$tableHeadText:#848687;
$tableBodyText:#2E3B52;
$fieldBorder:#CED1D6;

